Nama  : Mohammad Rafi Adithama

NIM : 2209106041

Kelas : A2

Posttest 2 KB

# Import Pandas dan PrettyTable

# lalu Import Dataset

In [2]:
import pandas as pd
import prettytable as prtl
rafi = pd.read_csv('bodyPerformance.csv')

# menampilkan info dataset

In [2]:
rafi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13393 entries, 0 to 13392
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      13393 non-null  float64
 1   gender                   13393 non-null  object
 2   height_cm                13393 non-null  float64
 3   weight_kg                13393 non-null  float64
 4   body fat_%               13393 non-null  float64
 5   diastolic                13393 non-null  float64
 6   systolic                 13393 non-null  float64
 7   gripForce                13393 non-null  float64
 8   sit and bend forward_cm  13393 non-null  float64
 9   sit-ups counts           13393 non-null  float64
 10  broad jump_cm            13393 non-null  float64
 11  class                    13393 non-null  object
dtypes: float64(10), object(2)
memory usage: 1.2+ MB

# 1. Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka

In [7]:
rafi.describe()

,age,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm
count,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000
mean,36.775106,168.559807,67.447316,23.240165,78.796842,130.234817,36.963877,15.209268,39.771224,190.129627
std,13.625639,8.426583,11.949666,7.256844,10.742033,14.713954,10.624864,8.456677,14.276698,39.868000
min,21.000000,125.000000,26.300000,3.000000,0.000000,0.000000,0.000000,-25.000000,0.000000,0.000000
25%,25.000000,162.400000,58.200000,18.000000,71.000000,120.000000,27.500000,10.900000,30.000000,162.000000
50%,32.000000,169.200000,67.400000,22.800000,79.000000,130.000000,37.900000,16.200000,41.000000,193.000000
75%,48.000000,174.800000,75.300000,28.000000,86.000000,141.000000,45.200000,20.700000,50.000000,221.000000
max,64.000000,193.800000,138.100000,78.400000,156.200000,201.000000,70.500000,213.000000,80.000000,303.000000

# 2. Tampilkan 10 recors pertama dari dataset dengan attribute bertipe angka

In [8]:
rafi.select_dtypes(include=['int64', 'float64']).head(10)

,age,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm
0,27.0,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0
1,25.0,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0
2,31.0,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0
3,32.0,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0
4,28.0,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0
5,36.0,165.4,55.40,22.0,64.0,119.0,23.8,21.0,27.0,153.0
6,42.0,164.5,63.70,32.2,72.0,135.0,22.7,0.8,18.0,146.0
7,33.0,174.9,77.20,36.9,84.0,137.0,45.9,12.3,42.0,234.0
8,54.0,166.8,67.50,27.6,85.0,165.0,40.4,18.6,34.0,148.0
9,28.0,185.0,84.60,14.4,81.0,156.0,57.9,12.1,55.0,213.0

# 3. Tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka

In [3]:
data = {}
data["Jumlah Record"] = rafi.shape[0]
data["Jumlah Attribute"] = rafi.shape[1]
data["Nama Attribute"] = rafi.columns.tolist()
data["Jumlah Attribute Dengan Tipe Angka"] = rafi.select_dtypes(include=["int64", "float64"]).shape[1]

Keys = list(data.keys())
table = prtl.PrettyTable()
table.add_column(Keys[0], [data["Jumlah Record"]])
table.add_column(Keys[1], [data["Jumlah Attribute"]])
table.add_column(Keys[2], ['\n'.join(data['Nama Attribute'])])
table.add_column(Keys[3], [data["Jumlah Attribute Dengan Tipe Angka"]])
print(table)

+---------------+------------------+-------------------------+------------------------------------+
| Jumlah Record | Jumlah Attribute |      Nama Attribute     | Jumlah Attribute Dengan Tipe Angka |
+---------------+------------------+-------------------------+------------------------------------+
|     13393     |        12        |           age           |                 10                 |
|               |                  |          gender         |                                    |
|               |                  |        height_cm        |                                    |
|               |                  |        weight_kg        |                                    |
|               |                  |        body fat_%       |                                    |
|               |                  |        diastolic        |                                    |
|               |                  |         systolic        |                                    |
|               |                  |        gripForce        |                                    |
|               |                  | sit and bend forward_cm |                                    |
|               |                  |      sit-ups counts     |                                    |
|               |                  |      broad jump_cm      |                                    |
|               |                  |          class          |                                    |
+---------------+------------------+-------------------------+------------------------------------+

# 4. Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice

In [9]:
rafi.iloc[41:, 3:] #Menggunakan iloc

,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
41,84.9,30.3,93.0,144.0,42.0,9.0,43.0,185.0,D
42,69.8,23.8,76.0,137.0,40.0,18.2,38.0,227.0,C
43,60.5,32.1,62.0,106.0,21.9,22.2,24.0,129.0,C
44,57.7,21.7,74.0,115.0,29.3,26.6,50.0,190.0,A
45,73.1,19.2,97.0,145.0,45.0,14.5,37.0,249.0,D
...,...,...,...,...,...,...,...,...,...
13388,71.8,16.2,74.0,141.0,35.8,17.4,47.0,198.0,C
13389,63.9,12.1,74.0,128.0,33.0,1.1,48.0,167.0,D
13390,80.5,20.1,78.0,132.0,63.5,16.4,45.0,229.0,A
13391,57.7,40.4,68.0,121.0,19.3,9.2,0.0,75.0,D
13392,66.1,19.5,82.0,150.0,35.9,7.1,51.0,180.0,C

In [11]:
rafi.loc[41:, data["Nama Attribute"][3:]] #Menggunakan loc

,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
41,84.9,30.3,93.0,144.0,42.0,9.0,43.0,185.0,D
42,69.8,23.8,76.0,137.0,40.0,18.2,38.0,227.0,C
43,60.5,32.1,62.0,106.0,21.9,22.2,24.0,129.0,C
44,57.7,21.7,74.0,115.0,29.3,26.6,50.0,190.0,A
45,73.1,19.2,97.0,145.0,45.0,14.5,37.0,249.0,D
...,...,...,...,...,...,...,...,...,...
13388,71.8,16.2,74.0,141.0,35.8,17.4,47.0,198.0,C
13389,63.9,12.1,74.0,128.0,33.0,1.1,48.0,167.0,D
13390,80.5,20.1,78.0,132.0,63.5,16.4,45.0,229.0,A
13391,57.7,40.4,68.0,121.0,19.3,9.2,0.0,75.0,D
13392,66.1,19.5,82.0,150.0,35.9,7.1,51.0,180.0,C

# 5. Tampilkan jumlah label dari semua attribute yang bernilai object

In [4]:
Jumlahobject = rafi.select_dtypes(include=["object"]).columns.tolist()
Jumlahobject.pop(0)

for i in Jumlahobject:
    print(rafi[i].value_counts())

C    3349
D    3349
A    3348
B    3347
Name: class, dtype: int64